<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>Filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/verivy</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CRUD</servlet-name>
    <servlet-class>ac.id.budiluhur.yit91.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDdata</servlet-name>
        <servlet-class>ac.id.budiluhur.yit91.CRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verivy</servlet-name>
        <servlet-class>ac.id.budiluhur.yit91.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aduan</servlet-name>
        <servlet-class>ac.id.budiluhur.yit91.Aduan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pengumuman</servlet-name>
        <servlet-class>ac.id.budiluhur.yit91.Pengumuman</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verivy</servlet-name>
        <url-pattern>/validasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD</servlet-name>
        <url-pattern>/simpan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDdata</servlet-name>
        <url-pattern>/Simpan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aduan</servlet-name>
        <url-pattern>/aduan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pengumuman</servlet-name>
        <url-pattern>/Pengumuman</url-pattern>
    </servlet-mapping>
</web-app>
